<!DOCTYPE html>
<html lang = "en">
	<head>
		<meta charset = "UTF-8">
		<title>Take Names and Kick Ass</title>
		<script src = "https://code.jquery.com/jquery.js"></script>
		<link rel="stylesheet" href="assets/css/reset.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/css/style.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src = "/assets/js/ass.js"></script>
	</head>
	<body>
		<div class = "row">
			<div class="title-box">
				<h1>Take Names and Kick Ass</h1>
				<img src="http://via.placeholder.com/350x200">
			</div>
		</div>
		<div class ="row">
			<div class ="bottom-boxes">
				{{{ body }}}
			</div>
		</div>
	</body>
<html>