<h2>Names Taken</h2>
<ul>
	{{#each asses}}
		{{#unless ass_kicked}}
			{{> asses/ass-block ass_kicked=false}}
		{{/unless}}
	{{/each}}
</ul>

<h2>Asses Kicked</h2>

<ul>
	{{#each asses}}
		{{#if ass_kicked}}
			{{> asses/ass-block ass_kicked=false}}
		{{/if}}
	{{/each}}
</ul>

<form class = "create-form">
	<div class = "form-group">
		<label for = "ass_name">Enter Name: </label>
		<input type = "text" id="ass_name" name="name">
	</div>
	<button type="submit">Take Name</button>
</form>