body {
	margin-top: 2%;
}
h1 {
	margin: 10px;
	font-size: 42px;
	font-weight: bold;
}
h2 {
	margin: 10px;
	font-size: 24px;
	font-weight: bold;
}
button {
	margin: 10px;
}
.row {
	margin: 0 auto;
}
.title-box {
	/*position: absolute;*/
	width: 100%;
	/*top: 20%;*/
	margin-bottom: 50px;
	text-align: center;
}
.bottom-boxes {
	margin: 0 auto;
	/*position: absolute;*/
	/*top: 20%;*/
	text-align: center;
}
input[name = "pic-choice"] { /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}

input + label > img{
	opacity: .6;
}

input:checked + label > img{ /* (RADIO CHECKED) IMAGE STYLES */
  opacity: 1;
}