<li>
	<img src="/assets/img/{{ass_picture}}.png">
	<p class = "name-wrap">{{ass_name}}</p>
	{{#if ass_kicked}}
	<button class="kick-em" data-id="{{id}}" data-newkick="{{ass_kicked}}">Kick</button>
	{{/if}}
</li>
